.in
{
    float: right;
}

h3
{
    background-color: aqua;
    font-size: medium;
    float: left;
}

.dna
{
    background-color: aqua;
    width: 100%;
    margin: 5px;
    padding: 5px;
    height: 10%;
}

#footer
{
    width: 100%;
    position: absolute;
    top: 900;
    line-height: 3;
    background-color: powderblue;
    font-size: medium;
    text-align: center;
    position: sticky;
}
